button {
  backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: block;
  white-space: nowrap;
  background: #72e655;
  border-radius: 0px;
  border: 0px solid #689a3a;
  border-width: 0px 0px 4px 0px;
  padding: 10px 20px;
  color: #fff;
  font-size: initial;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.5rem;
  width: 100%;
  margin-top: 1rem;
}